page-player-stats {
  
  canvas {
    border: 1px dotted color($colors,danger,base);
  }

  .borderTable {
    border: 1px dotted white;
  }

  .chart-container {
    position: relative;
    width: 50vw;
  }
}
