<ion-row text-center>
  <ion-col>
    <h1>{{'component.stats.highlights.quarter.title' | translate}}</h1>
  </ion-col>
</ion-row>
<ion-row text-center *ngIf="statsNotFound">
  <ion-col>
    <h2>{{'component.stats.statsNotFound' | translate}}</h2>
  </ion-col>
</ion-row>
<ion-row text-center>
  <ion-col>
    <canvas #barCanvas></canvas>
  </ion-col>
</ion-row>
<ion-row text-right class="enteteLight" *ngIf="!statsNotFound">
  <ion-col>
    <h3>
      {{'component.stats.detail' | translate}} <ion-icon  name="eye"></ion-icon>
    </h3>
  </ion-col>
</ion-row>
