<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="event.type">{{ event.type.label }}</ion-title>
        <ion-buttons end *ngIf="!event.isCollected">
            <button ion-button icon-only (click)="goToEdit()">
                <ion-icon name="create"></ion-icon>
            </button>
            <button ion-button icon-only (click)="delete()" >
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content *ngIf="event">  
  <ion-item color="light" text-center>
      <h1>{{ event.label }}</h1>
  </ion-item>
  
  <!-- logistic -->
  <ion-item>
    <ion-row>
      <ion-col>
        <h2 class="panel"><ion-icon name="calendar"></ion-icon> {{'eventsModule.startDate' | translate}}</h2>
      </ion-col>
      <ion-col>
        <h2 class="panel"><ion-icon name="time"></ion-icon> {{'eventsModule.startTime' | translate}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>{{ event.startDate | date:"mediumDate" }}</h2>
      </ion-col>
      <ion-col>
        <h2>{{ event.startDate | date:"shortTime" }}</h2>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-col>
          <h2 class="panel"><ion-icon name="pin"></ion-icon> {{'eventsModule.address' | translate}}</h2>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="event.address">
      <ion-col>
        <h2>{{ event.address.formatedAddress }}</h2>
        <div id="map"></div> 
      </ion-col>
    </ion-row>
  </ion-item>

  <!-- Map -->

  <!-- Actors-->
  <ion-item>
    <ion-row >
      <ion-col>
        <h2 class="panel"><ion-icon name="contacts"></ion-icon> {{'eventsModule.actors' | translate}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-left><h3 class="label">{{'eventsModule.teamHote' | translate}}</h3></ion-col>
        <ion-col text-left><h3 class="label">{{'eventsModule.teamGuest' | translate}}</h3></ion-col>
    </ion-row>
    <ion-row>    
        <ion-col text-left>
          <h2>{{ event.participants.teamHome.label }}</h2>
        </ion-col>
        <ion-col text-left>
            <h2>{{ event.participants.teamVisitor.label }}</h2>
        </ion-col>
    </ion-row>
  </ion-item>
        
    <ion-row text-center>
        <ion-col>
            <button ion-button icon-only (click)="goToviewEventStat(event, $event)" *ngIf="event.isCollected">
                <ion-icon name="stats"></ion-icon>
            </button>
            <button ion-button icon-left  (click)="goToStartCollect(event, $event)" *ngIf="!event.isCollected">
                <ion-icon name="stopwatch"></ion-icon>
                <div>{{ 'eventsModule.detail.collect' | translate }}</div>
            </button>
        </ion-col>
    </ion-row>
</ion-content>
