page-team-detail {
    .label {
      color: color($colors, light, base);
      font-size: 0.9em;
    }

    .value {
      color: color($colors, white, base);
      font-size: 1em;
    }

    ion-list-header h2{
      color: color($colors, dark, base);
    }

    ion-list-header h3{
      color: color($colors, danger, base);
    }

    ion-col {
      text-align: center;
    }
}
