<ion-header>
  <ion-navbar>
    <ion-title>{{'team.TitleNavBarTeam' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToStats()">
        <ion-icon name="stats"></ion-icon>
      </button>

      <button ion-button icon-only (click)="editTeam()">
        <ion-icon name="create"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-item class="enteteLight">
    <ion-row>
      <ion-col>
        <h1>{{team.label}}</h1>
      </ion-col>
    </ion-row>
  </ion-item>

  
  
  <ion-row>
    <ion-col text-center>
      <h3 *ngIf="(team.deactivated !== 'true')">{{'team.confirmDeactivate.title' | translate}}</h3>
      <button ion-button outline color="danger" (click)="deactivateTeam('team.confirmDeactivate','true')" *ngIf="(team.deactivated !== 'true')">
        <ion-icon name="close-circle"></ion-icon>
      </button>
      <h3 *ngIf="(team.deactivated === 'true')">{{'team.confirmActivate.title' | translate}}</h3>
      <button ion-button outline color="secondary" (click)="deactivateTeam('team.confirmActivate','false')" *ngIf="(team.deactivated === 'true')">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-content>