<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'eventsModule.eventsList.title' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-fab bottom right>
        <button ion-fab large (click)="addEvent()" color="danger"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-refresher (ionRefresh)="getEvents($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="{{ 'refresher.label' | translate }}"
                refreshingSpinner="circles"
                refreshingText="{{ 'refresher.message' | translate }}">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="eventList">
        <ion-item class="enteteLight">
          <ion-badge color="danger" item-start>{{eventListSize}}</ion-badge>
          <ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>
        </ion-item>
        <div *ngFor="let entry of eventList | keys">
            <ion-item-divider color="light">{{ entry.key }}</ion-item-divider>
            <ion-item *ngFor="let event of entry.value" (click)="goToDetail(event, $event)">
                <h2>{{ event.label }}</h2>
                <h3>{{ event.participants.teamHome.label }} / {{ event.participants.teamVisitor.label }}</h3>
                <p>{{ event.startDate | date:"mediumDate" }} {{ event.startDate | date:"shortTime" }}</p>
                <button ion-button item-end medium color="secondary" (click)="goToCollect(event, $event)">
                    <ion-icon name="stopwatch"></ion-icon>
                </button>
            </ion-item>
        </div>
    </ion-list>
</ion-content>
