page-profile {

  .image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
  }
  ion-card {
    padding-top: 50px;
  }
  .wrapper {
    position: absolute;
    z-index: 999;
    top:10px;
    right: calc(50vw - 50px);
    left: calc(50vw - 50px);

  }
  .avatar {
    img {
      display: inline;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }
  .autocomplete {
    width: 100%;

    ion-searchbar {
      padding: 1px !important;
      display: none;
    }

    ion-list {
      position: absolute;
      width: inherit;
      overflow-y: scroll;
      max-height: 150%;
      z-index: 999;

      ion-item:hover {
        cursor: pointer;
        background: #f1f1f1
      }
    }
  }
}
