<ion-row text-center>
  <ion-col text-left>  
    <h1 >{{'component.stats.shoot.efficiency.title' | translate}} {{efficiencyAverage}} %</h1>
  </ion-col>
  <ion-col text-right>  
    <h1>
      <ion-icon  name="eye"></ion-icon>
    </h1>
  </ion-col>
</ion-row>
<ion-row text-center>
  <ion-col>
      <canvas #doughnutCanvas class="panel"></canvas>
  </ion-col>
</ion-row>
<ion-row text-center>
  <ion-col>
    <h3>{{'component.stats.shoot.efficiency.goalAverage' | translate}}</h3>
  </ion-col>
  <ion-col>
    <h3>{{'component.stats.shoot.efficiency.shootAverage' | translate}}</h3>
  </ion-col>
</ion-row>
<ion-row text-center>
  <ion-col>
    <h2>{{goalAverage}}</h2>
  </ion-col>
  <ion-col>
    <h2>{{shootAverage}}</h2>
  </ion-col>
</ion-row>