<ion-row text-center>
  <ion-col text-left>  
    <h1 >Efficacité 50 %</h1>
  </ion-col>
  <ion-col text-right>  
    <h1>
      <ion-icon  name="eye"></ion-icon>
    </h1>
  </ion-col>
</ion-row>
<ion-row text-center>
  <ion-col>
      <canvas #doughnutCanvas class="panel"></canvas>
  </ion-col>
</ion-row>
<ion-row text-center>
  <ion-col>
    <h3>Buts / match</h3>
  </ion-col>
  <ion-col>
    <h3>Tirs / match</h3>
  </ion-col>
</ion-row>
<ion-row text-center>
  <ion-col>
    <h2>5,50</h2>
  </ion-col>
  <ion-col>
    <h2>7,55</h2>
  </ion-col>
</ion-row>