<ion-row>
  <ion-col text-center>  
    <h1 >{{efficiencyLabel}}</h1>
  </ion-col>
</ion-row>
<ion-row text-center>
  <ion-col class="bigText">
    {{efficiencyAverage}} %
  </ion-col>
</ion-row>
<ion-row text-center>
  <ion-col>
      <canvas #doughnutCanvas class="panel"></canvas>
  </ion-col>
</ion-row>
<ion-row text-center>
  <ion-col>
    <h3>{{goalAverageLabel}}</h3>
  </ion-col>
  <ion-col>
    <h3>{{shootAverageLabel}}</h3>
  </ion-col>
</ion-row>
<ion-row text-center>
  <ion-col>
    <h2>{{goalAverage}}</h2>
  </ion-col>
  <ion-col>
    <h2>{{shootAverage}}</h2>
  </ion-col>
</ion-row>