<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Collect</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <chrono-component [chrono]="chrono" [currentPhase]="currentPhase" ></chrono-component>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-grid>
                        <ion-row>
                            <ion-col class="team" text-center>{{getTeamHomeName()}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="score" text-center>{{ homeScore }}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col text-center class="small">Temps mort</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col text-center>
                                <ion-checkbox></ion-checkbox>
                            </ion-col>
                            <ion-col text-center>
                                <ion-checkbox></ion-checkbox>
                            </ion-col>
                            <ion-col text-center>
                                <ion-checkbox></ion-checkbox>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
                <ion-col>
                    <ion-list inset class="events-list">
                        <span class="event" *ngFor="let s of displayedStats">{{ s.code }}</span>
                    </ion-list>
                </ion-col>
                <ion-col>
                    <ion-grid>
                        <ion-row>
                            <ion-col text-center class="team">{{getTeamVisitor()}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col text-center class="score">{{visitorScore}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col text-center class="small">Temps mort</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col text-center>
                                <ion-checkbox></ion-checkbox>
                            </ion-col>
                            <ion-col text-center>
                                <ion-checkbox></ion-checkbox>
                            </ion-col>
                            <ion-col text-center>
                                <ion-checkbox></ion-checkbox>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid id="ground-area">
            <ion-row *ngFor="let area of ground">
                <ion-col text-center *ngFor="let pos of area" ion-col>
                    <ion-item>
                        <ion-avatar>
                            <img [src]="getAvatar(playerPositions[pos.key]?.avatar)" alt="avatar">
                        </ion-avatar>
                        <ion-label>{{ playerPositions[pos.key]?.name || pos.label }}
                            <ion-badge>{{ playerPositions[pos.key]?.status.squadnumber || '?' }}</ion-badge>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-item-divider></ion-item-divider>
        <ion-grid>
            <ion-row>
                <ion-col text-center>
                    <ion-fab center middle>
                        <button ion-fab mini color="danger">
                            <ion-icon name="medical"></ion-icon>
                        </button>
                    </ion-fab>
                </ion-col>
                <ion-col text-center>
                    <ion-fab center middle>
                        <button ion-fab mini color="yellow">
                            <ion-icon name="document"></ion-icon>
                        </button>
                    </ion-fab>
                </ion-col>
                <ion-col text-center>
                    <ion-fab center middle>
                        <button ion-fab mini color="warning">
                            +2
                        </button>
                    </ion-fab>
                </ion-col>
                <ion-col text-center>
                    <ion-fab center middle>
                        <button ion-fab mini color="danger">
                            <ion-icon name="document"></ion-icon>
                        </button>
                    </ion-fab>
                </ion-col>
                <ion-col text-center>
                    <ion-fab center middle>
                        <button ion-fab mini color="secondary">
                            <ion-icon name="swap"></ion-icon>
                        </button>
                    </ion-fab>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-item-divider></ion-item-divider>
        <ion-grid>
            <ion-row>
                <ion-col text-center>
                    <button ion-button color="light">Attack</button>
                </ion-col>
                <ion-col>
                    <ion-select [(ngModel)]="gameState.homeGameSystem">
                        <ion-option *ngFor="let gs of gameSystem" value="{{gs}}">{{gs}}</ion-option>
                    </ion-select>
                </ion-col>
                <ion-col text-center>
                    <ion-fab center middle>
                        <button ion-fab mini color="danger">
                            <ion-icon name="stats"></ion-icon>
                        </button>
                    </ion-fab>
                </ion-col>
                <ion-col>
                    <ion-select [(ngModel)]="gameState.visitorGameSystem">
                        <ion-option *ngFor="let gs of gameSystem" value="{{gs}}">{{gs}}</ion-option>
                    </ion-select>
                </ion-col>
                <ion-col text-center>
                    <button ion-button color="light">Defense</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>