<tour-component [steps]="steps" (onOver)="endTour($event)"></tour-component>
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ currentEvent?.label }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <chrono-component [(chrono)]="fsmContext.chrono" [(currentPhase)]="gameState.currentPhase" (onStarted)="playButton($event)"
            (onPaused)="pauseButton($event)" (onStopped)="stopButton($event)" (onPeriodEnded)="endPeriod($event)" (onGameEnded)="endCollect($event)"></chrono-component>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-grid>
                        <ion-row>
                            <ion-col class="team" text-center>{{ getTeamHomeName() }}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="score" text-center>{{ gameState.homeScore }}</ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
                <ion-col>
                    <ion-grid>
                        <ion-row>
                            <ion-col text-center class="team">{{ getTeamVisitor() }}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col text-center class="score">{{ gameState.visitorScore }}</ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid id="ground-area">
            <ion-row *ngFor="let area of ground">
                <ion-col text-center *ngFor="let pos of area" ion-col>
                    <div center middle *ngIf="playerPositions[pos.key]">
                        <button ion-button  [color]="getColor(playerPositions[pos.key]?._id, pos.class)" (click)="doSelectPlayer(playerPositions[pos.key]?._id)">
                                <ion-icon name="shirt" color="red"></ion-icon> &nbsp; {{ playerPositions[pos.key]?.status.squadnumber || '?' }}
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row><ion-col>&nbsp;</ion-col></ion-row>
            <ion-row class="btn-list">
                <ion-col text-center>
                    <div center middle>
                        <button ion-button large color="green" (click)="positiveActionButton($event)">
                            <ion-icon name="thumbs-up"></ion-icon>
                        </button>
                    </div>
                </ion-col>
                <ion-col text-center>
                    <div center middle *ngIf="fsmContext?.gamePhase">
                        <button ion-button large outline color="{{ fsmContext?.gamePhase?.attack?'green':'red' }}" (click)="showGround($event)">
                            <ion-icon name="football"></ion-icon>
                        </button>
                    </div>
                </ion-col>
                <ion-col text-center>
                    <div center middle>
                        <button ion-button large color="red" (click)="negativeActionButton($event)">
                            <ion-icon name="thumbs-down"></ion-icon>
                        </button>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row><ion-col>&nbsp;</ion-col></ion-row>
        </ion-grid>


        <ion-grid>
            <ion-row class="btn-list">
                <ion-col text-center>
                    <ion-fab center middle>
                        <button ion-fab large color="secondary" (click)="toggleSubstitutes($event)">
                            <ion-icon name="swap"></ion-icon>
                        </button>
                    </ion-fab>
                </ion-col>
            </ion-row>
            <ion-row class="btn-list">
                <ion-col text-center>
                    <button ion-button color="dark" (click)="attackButton($event)" large [disabled]="!attackEnabled">{{ 'collect.attack' | translate }}</button>
                </ion-col>

                <ion-col text-center>
                    <ion-fab center middle>
                        <button ion-fab mini color="danger" (click)="statsButton($event)">
                            <ion-icon name="stats"></ion-icon>
                        </button>
                    </ion-fab>
                </ion-col>

                <ion-col text-center>
                    <button ion-button color="dark" (click)="defenseButton($event)" large [disabled]="!defenseEnabled">{{ 'collect.defense' | translate }}</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>