<ion-header>
    <ion-navbar>
      <ion-title>{{'team.TitleNavBarTeamEdit' | translate}}</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="cancel()">
          <ion-icon name="close-circle"></ion-icon>
        </button>
        <button ion-button icon-only (click)="saveTeam(teamForm.value)" type="submit" [disabled]="!teamForm.valid"> 
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content *ngIf="team">
    <form [formGroup]="teamForm">
      <ion-item color="light">
        <h2 class="panel">
          <ion-icon name="contact"></ion-icon>  
          {{'team.labels.profil' | translate}}
        </h2>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item class="form-group">
              <ion-label floating>{{ 'team.labels.name' | translate }}</ion-label>
              <ion-input type="text" formControlName="name" id="name" autocomplete="name" clearInput></ion-input>
              <p *ngIf="!isValid('name')" danger padding-left>Invalid label</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>