<ion-header>
    <ion-navbar color="warning">
        <ion-title>{{'team.TitleNavBarTeamEdit' | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="cancel()">
                <ion-icon name="close-circle"></ion-icon>
            </button>
            <button ion-button icon-only (click)="saveTeam(teamForm.value)" type="submit" [disabled]="!teamForm.valid">
                <ion-icon name="checkmark-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content *ngIf="adversary===false">
    <form [formGroup]="teamForm">
        <ion-item color="light">
            <h2 class="panel">
                <ion-icon name="contacts"></ion-icon>
                {{'team.labels.name' | translate}}
            </h2>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-item class="form-group">
                    <ion-label stacked>{{ 'team.labels.name' | translate }}</ion-label>
                    <ion-input type="text" formControlName="label" id="label" autocomplete="name" clearInput></ion-input>
                    <p *ngIf="!isValid('label')" danger padding-left>Invalid label</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              <ion-item class="form-group">
                  <ion-label stacked>{{ 'team.labels.categoryAge' | translate }}</ion-label>
                  <ion-select formControlName="categoryAge" interface="popover" [compareWith]="compareOptionSelect">
                    <ion-option *ngFor="let t of listCategoryAge" [value]="t">{{t.label}}</ion-option>
                  </ion-select>
              </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item class="form-group">
                    <ion-label stacked>{{ 'team.labels.championship' | translate }}</ion-label>
                    <ion-input type="text" formControlName="championship" id="championship" autocomplete="name" clearInput></ion-input>
                    <p *ngIf="!isValid('championship')" danger padding-left>Invalid label</p>
                </ion-item>
            </ion-col>
        </ion-row>
    </form>
</ion-content>

<ion-content *ngIf="adversary===true">
    <form [formGroup]="teamForm">
        <ion-item color="light">
            <h2 class="panel">
                <ion-icon name="contacts"></ion-icon>
                {{'team.labels.name' | translate}}
            </h2>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-item class="form-group">
                    <ion-label stacked>{{ 'team.labels.name' | translate }}</ion-label>
                    <ion-input type="text" formControlName="label" id="label" autocomplete="name" clearInput></ion-input>
                    <p *ngIf="!isValid('label')" danger padding-left>Invalid label</p>
                </ion-item>
            </ion-col>
        </ion-row>
    </form>
</ion-content>