<ion-header>
  <ion-navbar color="warning">
    <ion-title>{{'team.TitleNavBarTeamList' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab bottom right>
    <button ion-fab large (tap)="goToAddteam()" color="danger"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-refresher (ionRefresh)="getTeams($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="{{ 'refresher.label' | translate }}"
            refreshingSpinner="circles"
            refreshingText="{{ 'refresher.message' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list inset>
    <ion-list-header>
      {{'team.TitleMyTeamList' | translate}}
    </ion-list-header>

    <ion-item *ngFor="let item of teams.myTeams" (click)="goToDetail(item, $event)" [ngClass]="{'playerDisactivated':item.enable==='false'}">
      <h2>{{item.label}}</h2>
      <p *ngIf="(item.enable === 'true')">{{'player.labels.desactivated' | translate}}</p>
      <ion-icon item-end name="stats" color="danger" (click)="goToStats(item, $event)"></ion-icon>
    </ion-item>  
  </ion-list>

  <ion-list inset>
    <ion-list-header>
      {{'team.TitleAdversaryTeamList' | translate}}
    </ion-list-header>
    <ion-item *ngFor="let item of teams.adversaries" (click)="goToDetail(item, $event)" [ngClass]="{'playerDisactivated':item.enable==='false'}">
      <h2>{{item.label}}</h2>
      <p *ngIf="(item.enable === 'true')">{{'player.labels.desactivated' | translate}}</p>
    </ion-item>  
  </ion-list>
</ion-content>