page-team-list { 
  h2 {
    color: color($colors, dark, base);
  }

  #teamListTitle {
    color: color($colors, dark, base);
    font-size: 1.5em;
  }

  ion-list ion-icon {
    color : color($colors, danger, base);
    font-size: 1.5em;
  }

  .teamDisactivated {
    background-color: color($colors, light, base);
    color : color($colors, light, base);
  }

  .teamDisactivated h2{
    color : color($colors, primary, base);
  }

  .teamDisactivated ion-icon {
    color : color($colors, primary, base);
    font-size: 1.5em;
  }
}
