// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.danger-toast {
  .toast-container {
    background-color: color($colors, dark, base);
  }
}

.errorControlForm {
  color: color($colors, danger, base);
  padding: 10px 10px 10px 16px;
}

h1 {
  color: color($colors, dark, base);
}

h2, p {
  color: color($colors, danger, base);
}

h3 {
  color: color($colors, primary, base);
}

.panel {
  color: color($colors, dark, base);
}

.enteteLight {
  background-color: color($colors, light, base);
  padding: 0 auto;
  margin: 0 auto;
}

.enteteDefault {
  background-color: color($colors, primary, base);
  padding: 0 auto;
  margin: 0 auto;
  color: white;
}

.enteteDark {
  background-color: color($colors, dark, base);
  padding: 0 auto;
  margin: 0 auto;
  color: white;
}

.enteteDark h1, .enteteDark h3 {
  color: white;
}

ion-footer {
  background-color: color($colors, light, base);
}

.positive .action-sheet-title {
  background-color: color($colors, green, base) !important;
  color: color($colors, white, base) !important;
  font-weight: bold;
}

.negative .action-sheet-title {
  background-color: color($colors, red, base);
  color: color($colors, white, base);
}

// IntroJS
ion-app, ion-nav, ion-tab, ion-tabs, .app-root, .ion-page, .item, .toolbar {
  contain: none !important;
}

.introjs-showElement {
  &.bar-button-menutoggle {
    color: #000000 !important;
  }
  &.bar-button ion-icon {
    color: #000000 !important;

  }
}

.introjs-arrow {
  display: none !important;
}

.introjs-overlay {
  background: #356aa0;
  background: -moz-linear-gradient(-45deg, #356aa0 0%, #004f9e 100%);
  background: -webkit-linear-gradient(-45deg, #356aa0 0%, #004f9e 100%);
  background: linear-gradient(135deg, #356aa0 0%, #004f9e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#356aa0', endColorstr='#004f9e', GradientType=1);
}

.introjs-helperLayer {
  border-radius: 50%;
  padding: 20px;
  margin-left: -20px;
  margin-top: -20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: transparent solid 1px;
}

.introjs-tooltip {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  color: #fff;
  font-family: "Roboto", "Helvetica Neue", sans-serif;

  &.introjs-bottom-middle-aligned {
    margin-top: 30px;
  }

  .introjs-tooltiptext {
    font-size: 2em;
    margin-left: 10px;

    h1, h2, p {
      color: #fff;
    }
  }
  .introjs-button, .introjs-button:active, .introjs-button:focus, .introjs-button:hover {
    color: #fff;
    box-shadow: none;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 2em;
    padding: .8em;
    border: none;
    text-shadow: none;
    background: transparent none;
    &.introjs-disabled {
      color: color($colors, dark, base);
    }
  }
}

@media (max-width: 768px) {
  .introjs-helperNumberLayer {
    left: 0 !important;
    top: -10px !important;
  }
  .introjs-tooltip {
    margin-top: 40px !important;
  }
}

.alert-message p {
  color: color($colors, dark, base);
}