// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.danger-toast {
  .toast-container {
    background-color: color($colors, dark, base);
  }
}

h1 {
  color: color($colors,dark,base);
}

h2, p {
  color: color($colors,danger,base);
}

h3 {
  color: color($colors,primary,base);
}

.panel {
  color: color($colors,dark,base);
}

.enteteLight{
  background-color: color($colors, light, base);
  padding: 0 auto;
  margin: 0 auto;
}

.enteteDefault{
  background-color: color($colors, primary, base);
  padding: 0 auto;
  margin: 0 auto;
  color : white;
}

.enteteDark{
  background-color: color($colors, dark, base);
  padding: 0 auto;
  margin: 0 auto;
  color : white;
}

.enteteDark h1, .enteteDark h3 {
  color : white;
}

ion-footer {
  background-color: color($colors, light, base);
}