<ion-row>
  <ion-col text-center>  
    <h1 >Feuille de match</h1>
  </ion-col>
</ion-row>

<ion-list *ngIf="!statsNotFound">
  
  <ion-item *ngFor="let item of playerList">
    <div *ngIf="item.status.positionType.code ==='goalkeeper'">
      <ion-row>
        <ion-col>
          <h2>
            <ion-icon item-start name="stats" color="danger"></ion-icon>
            {{item.firstname}} {{item.name}}
          </h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <h3>Note : <ion-badge color="secondary">{{item.stats.note}}</ion-badge></h3>
        </ion-col>
        <ion-col>
          <h3>Arrêt : {{item.stats.originShootDef-item.stats.goalConceded}}/{{item.stats.originShootDef}}</h3>
        </ion-col>
        <ion-col>
          <h3>Sanction : 
            <ion-badge *ngIf="item.stats.yellowCard>0" color="yellow" item-end>{{item.stats.yellowCard}}</ion-badge> 
            <ion-badge *ngIf="item.stats.excluTmp>0" color="orange" item-end>{{item.stats.excluTmp}}</ion-badge>
            <ion-badge *ngIf="item.stats.redCard>0" color="danger" item-end>{{item.stats.redCard}}</ion-badge>
          </h3>
        </ion-col>
      </ion-row>
    </div>


    <div *ngIf="item.status.positionType.code !=='goalkeeper'">
      <ion-row>
        <ion-col>
          <h2 (click)="goToStatsPlayer(item, $event)">
                <ion-icon item-start name="stats" color="danger"></ion-icon>
                {{item.firstname}} {{item.name}}
          </h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3>Note : <ion-badge color="secondary">{{item.stats.note}}</ion-badge></h3>
        </ion-col>
        <ion-col>
          <h3>Tir : {{item.stats.goalScored}}/{{item.stats.originShootAtt}}</h3>
        </ion-col>
        <ion-col>
          <h3>Sanction : 
            <ion-badge *ngIf="item.stats.yellowCard>0" color="yellow">{{item.stats.yellowCard}}</ion-badge> 
            <ion-badge *ngIf="item.stats.exclTmp>0" color="orange">{{item.stats.exclTmp}}</ion-badge>
            <ion-badge *ngIf="item.stats.redCard>0" color="danger">{{item.stats.redCard}}</ion-badge>
          </h3>
        </ion-col>
      </ion-row>
    </div>
  </ion-item>
</ion-list>
