<div class="overlay" #overlay></div>

<div class="tour" #tour>
    <p  [innerHTML]="content"></p>
    <ion-row>
        <ion-col>
            <button ion-button (click)="skip()">{{'showcase.navigation.skip' | translate}}</button>
        </ion-col>
        <ion-col>
            <button ion-button *ngIf="steps && currentStep > 0" (click)="previous()">{{'showcase.navigation.prev' | translate}}</button>
        </ion-col>
        <ion-col>
            <button ion-button *ngIf="steps && currentStep < steps.length - 1" (click)="next()">{{'showcase.navigation.next' | translate}}</button>
        </ion-col>
        <ion-col>
            <button ion-button *ngIf="steps && currentStep === steps.length - 1" (click)="end()">{{'showcase.navigation.ok' | translate}}</button>
        </ion-col>
    </ion-row>
</div>
<div class="highlight" #highlight></div>