<ion-header>
    <ion-navbar>
        <ion-title>{{'signup.TitleNavBar' | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="cover">
  <div class="overlay"></div>
  <div class="over">
    <form [formGroup]="userForm">
        <ion-list>
          <ion-list-header color="primary"><span id="signupTitle">{{'signup.Title' | translate}}</span></ion-list-header>
          <ion-item>
              <ion-label stacked>{{ 'signup.login' | translate }}</ion-label>
              <ion-input type="text" formControlName="login" id="login" autocomplete="login" clearInput></ion-input>
          </ion-item>
          <p *ngIf="!isValid('login')" danger padding-left>{{ 'signup.error.login' | translate }}</p>

          <ion-item>
              <ion-label stacked>{{ 'signup.email' | translate }}</ion-label>
              <ion-input type="text" formControlName="email" id="email" autocomplete="email" clearInput></ion-input>
          </ion-item>
          <p *ngIf="!isValid('email')" danger padding-left>{{ 'signup.error.email' | translate }}</p>

          <ion-item>
              <ion-label stacked>{{ 'signup.password' | translate }}</ion-label>
              <ion-input type="password" formControlName="password" id="password" clearInput></ion-input>
          </ion-item>
          <ion-item>
          <ng2-password-strength-bar
              [passwordToCheck]="userForm.controls['password.value']"
              barLabel="{{ 'signup.password_strength' | translate}}">
          </ng2-password-strength-bar>
          </ion-item>
          <ion-item>
              <ion-label stacked>{{ 'signup.confirmPassword' | translate }}</ion-label>
              <ion-input type="password" id="confirmPassword" formControlName="confirmPassword" required
                        show-password></ion-input>
          </ion-item>
          <p *ngIf="userForm.controls['confirmPasswordKey'].touched && userForm.hasError('mismatchedPasswords') && userForm.controls['password'].valid"
            danger padding-left>{{ 'signup.error.confirmPassword' | translate }}</p>
          
          <ion-item>
            <ion-checkbox formControlName="cgu" [checked]="false"></ion-checkbox>
            <ion-label>{{ 'signup.cgu.label' | translate }}</ion-label>
        </ion-item>
        <div id="cgu" color="white">
            <a href="https://www.qaobee.com/#/legal-agreement" target="_blank">{{'signup.cgu.cgu' | translate }}</a> |
            <a href="https://www.qaobee.com/#/privacy-policy" target="_blank">{{'signup.cgu.privacy-policy' | translate}}</a>
        </div>
        
        <ion-row>
          <ion-col>
          <button id="cancelButton" ion-button icon-left medium (tap)="cancel()">
              {{ 'signup.cancel' | translate  }}
          </button>
          </ion-col>
          <ion-col>
            <button id="subscribeButton" ion-button icon-left medium (tap)="createAccount(userForm.value)"
                    [disabled]="!userForm.valid" type="submit" color="green">
                {{ 'signup.valid' | translate  }}
            </button>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
  </div>

</ion-content>