next-event {
  #map {
    height: 200px;
    width: 100%;
  }

  #nextEventAreaOn {
    display: block;
    margin: 0px auto;
  }

  #nextEventAreaOff{
    display: block;
    margin: 0px auto;
  }
}
