<ion-header>
  <ion-navbar>
    <ion-title>{{'player.TitleNavBarPlayerList' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab bottom right>
    <button ion-fab large (tap)="goToAddPlayer()" color="danger"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-refresher (ionRefresh)="getPlayers($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="{{ 'refresher.label' | translate }}"
            refreshingSpinner="circles"
            refreshingText="{{ 'refresher.message' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item color="primary">
      <ion-badge color="danger" item-start>{{playerListSize}}</ion-badge>
      <ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>
    </ion-item>

    <ion-item *ngFor="let item of playerList" (click)="goToDetail(item, $event)" [ngClass]="{'playerDisactivated':item.desactivated==='true'}">
      <ion-avatar item-start>
        <img src="assets/imgs/user.png" alt="player">
      </ion-avatar>
      <h2>{{item.firstname}} {{item.name}}</h2>
      <p *ngIf="(item.desactivated === 'true')">{{'player.labels.desactivated' | translate}}</p>
      <p *ngIf="(item.desactivated !== 'true')">{{'player.positionType.'+item.status.positionType | translate}}</p>
      <ion-badge color="secondary" item-end>{{item.status.squadnumber}}</ion-badge>
    </ion-item>  
  </ion-list>
</ion-content>